$ui-color-primary: #781f19!default;
$ui-color-primary-hover: #853c36!default;

$ui-color-white: #ffffff!default;
$ui-color-black: #000000!default;

$ui-color-grey: #F5F5F5!default;
$ui-color-grey-pale: #E0E0E0;

$ui-global-transition: all 0.2s ease-out;

$ui-layout-width: 1200px!default;
$ui-max-layout-width: 1220px!default;

// Btns

$ui-btn-primary: $ui-color-primary!default;
$ui-btn-primary-color: #ffffff!default;
$ui-btn-primary-hover: $ui-color-primary-hover!default;
$ui-btn-primary-icon: #ffffff!default;

$ui-btn-outline: transparent!default;
$ui-btn-outline-color: $ui-color-primary!default;
$ui-btn-outline-hover: $ui-color-primary-hover!default;
$ui-btn-outline-icon: $ui-color-primary!default;

$ui-btn-border: $ui-color-primary!default;
$ui-btn-border-hover: $ui-color-primary-hover!default;

$ui-btn-icon: #ffffff!default;
$ui-btn-radius: 20px!default;

// Title

$ui-title-line-color: $ui-color-primary!default;

// Card

$ui-card-border: $ui-color-primary!default;
$ui-card-title: #ffffff!default;
$ui-card-cover: rgba(0, 0, 0, 0.5)!default;
$ui-card-cover-hover: rgba(0, 0, 0, 0.45)!default;
$ui-card-backdrop: rgba(0,0,0,.75)!default;
$ui-card-backdrop-title: #ffffff!default;

// progress

$ui-progress-line: $ui-color-primary!default;
$ui-progress-bg: #ffffff!default;
$ui-border-radius: 5px!default;
$ui-height-line-wrap: 10px!default;
$ui-height-line: 6px!default;

// list

$ui-list-header: $ui-color-primary!default;
$ui-list-item: $ui-color-black!default;
$ui-list-item-border: 1px solid #e0e0e0!default;
$ui-list-item-icon-bg: #448aff!default;
$ui-list-item-icon: $ui-color-white!default;
$ui-list-item-mark: #999999!default;

// list ordered

$ui-list-ordered-num-bg: $ui-color-primary!default;
$ui-list-ordered-num: $ui-color-white!default;

// list description

$ui-list-description-item-bg: $ui-color-grey!default;
$ui-list-description-item: $ui-color-primary!default;

// switch

$ui-switch-height: 34px!default;
$ui-switch: #ddc6c5!default;
$ui-switch-active: $ui-color-primary!default;
$ui-switch-handle: $ui-color-white!default;

// link

$ui-link-border: $ui-color-primary!default;
$ui-link-border-hover: $ui-color-primary-hover!default;

// Section
$ui-section-border: $ui-color-grey-pale!default;
$ui-section-cover: $ui-color-black!default;
$ui-section-cover-content: $ui-color-white!default;
$ui-section-cover-light: $ui-color-black!default;
$ui-section-cover-white: $ui-color-white!default;
$ui-section-cover-white-content: $ui-color-black!default;
$ui-section-subtitle-weight: 500!default;
